.fileUpload {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62%;
  height: 119px;
  color: #ffffff;
}

.fileUploadIcon {
  height: 129px;
  width: 97px;
  opacity: 0.8;
  cursor: pointer;
}

.fileUploadIcon:hover {
  opacity: 1;
}

.fileUploadText {
  padding-top: 15px;
  text-align: center;
  /* font-family: ; */
  font-size: 20px;
  letter-spacing: 1px;
}
