.fileHeader {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #2a3149;
  padding-bottom: 15px;
}

.fileName {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
}

.fileName img {
  width: 21px;
  height: 26px;
}

.filePathWrapper {
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 1px;
}

.filePath {
  padding-left: 8px;
}

#fileIcon::before {
  font-size: 20px;
}
