.primaryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  background-color: #11b5e4;
  border-radius: 5px;
  cursor: pointer;
}

.primaryButton:hover {
  opacity: 0.75;
}

.secondaryButton {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  padding-top: 4px;
  margin-top: 10px;
}

.secondaryButton:hover {
  opacity: 1;
  background-color: #db3830;
  border-radius: 5px;
}
