.formBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  margin-top: -50px; /* Adjust this value to set the distance below fileHeader */
}

.errorText {
  padding-top: 8px;
  color: #ff6978;
  position: relative;
  font-size: 12px;
  width: 80%;
}

.buttonsWrapper {
  position: relative;
  display: flex;
  margin-top: 0;
  flex-direction: column;
  width: 80%;
}

.primaryButtonText {
  padding-left: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.cancelButtonText {
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 4px;
}

.cancelButtonText:hover {
  opacity: 1;
  color: #ffffff
}

.fileHeader {
  align-items: center;
  background-color: #2a3149;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  font-style: monospace;
  height: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  width: 100%;
}

.fileName {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
  width: 80%;
}

.fileHeaderImage {
  width: 50px;
  height: 50px;
}

.filePath {
  padding-left: 8px;
}

.filePathEncrypted {
  padding-left: 0px;
}
