.fileHeader {
  align-items: center;
  background-color: #2a3149;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  height: 70px;
  padding-bottom: 2px;
  padding-top: 2px;
  position: fixed;
  top: 0;
  white-space: nowrap;
  width: 100%;
}

.fileName {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
  width: 80%;
}

.fileHeaderIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 40px;
}
