.inputBar {
  width: 300px;
  height: 35px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #868c9d;
  padding-left: 10px;
  color: #ffffff;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

.inputBarError {
  width: 90%;
  height: 35px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #868c9d;
  padding-left: 10px;
  color: #ff6978;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

.inputBar::placeholder {
  color: #c1c4cd;
}

.inputBarError::placeholder {
  color: #c1c4cd;
}

.passwordBarWithVisibilityToggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
