@import './colors.css';

.inputBar {
  width: 300px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color-secondary);
  padding-left: 10px;
  color: var(--text-color);
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

.inputBarError {
  width: 300px;
  height: 35px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color-secondary);
  padding-left: 10px;
  color: var(--error-or-destructive-color);
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

.inputBar::placeholder {
  color: #c1c4cd;
}

.inputBarError::placeholder {
  color: #c1c4cd;
}

.passwordBarWithVisibilityToggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
